

:root {
    --bg-col: #d1d1d1;
    --header-col: #ebebeb;
    --primary-font: #000000;
    --secondary-font: #ebebeb;
    --link-color: #474040;
    --link-hover: #000000;

    --white-bg: #fff;
    --orange: #bc8d00;
    --green: #00bd39;
    --light-grey: #eeeff1;
    --grey: #d3d3d386;
}

.dark-mode {

    --bg-col: #333333;
    --header-col: #636363;
    --primary-font: #d6d6d6;
    --secondary-font: #000000;
    --link-color: var(--light-text);
    --link-hover: #ffffff;

    --white-bg: #464646;
    --orange: #d39f0286;
    --green: #00bd39a6;
    --light-grey: #414141;
    --grey: #797979ad;
}

body {
    
}


/* Header styles */

.header-bgd, .footer-bgd {
    background-color: var(--header-col);
}

.nav-link {

    color: var(--link-color)
}

.nav-link:hover, .nav-link:focus, .nav-link.active {

    color: var(--link-hover);
}


/* Button styles */

.btn-light {

    border-color: var(--text-color);
}

.btn-outline-dark {

    background-color: var(--white);
    border-color: var(--light-text);
    
}


/* Hero Styles */




/* Colours */
.light-text { color: var(--light-text); }

.dark-text { color: var(--dark-text); }

.white { color: #ffffff; }

.bgd-white { background-color: var(--white-bg); }

.bgd-orange { background-color: var(--orange); }

.bgd-green { background-color: var(--green); }

.bgd-light-grey { background-color: var(--light-grey); }

.bgd-grey { background-color: var(--grey); }


/* Footer styles */

.footer-style { color: var(--text-color); }


/* Modal styles */

#dashSettingsModal, #settingsDarkMode, #settingsTextSize {

    background-color: var(--bg-col);
    color: var(--light-text);
}